In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('./dataset/tmdb_5000_movies.csv')

In [3]:
credits = pd.read_csv('./dataset/tmdb_5000_credits.csv')

In [4]:
movies = movies.merge(credits, on='title')

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
# Cleaning Data
# Required Columns  
# genres
# id
# keywords
# overview
# title
# cast
# crew

In [7]:
movies = movies[['movie_id','title','genres','keywords','overview','cast','crew']]

In [8]:
movies.head(1)

,movie_id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   genres    4809 non-null   object
 3   keywords  4809 non-null   object
 4   overview  4806 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [10]:
import ast

In [11]:
def convertVal(text):
    genArr = []
    for i in ast.literal_eval(str(text)):
        genArr.append(i['name'])
    return genArr

In [12]:
movies['genres'] = movies['genres'].apply(convertVal)
movies['keywords'] = movies['keywords'].apply(convertVal)

In [37]:
movies['genres']

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   genres    4806 non-null   object
 3   keywords  4806 non-null   object
 4   overview  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [15]:
def convertCast(text):
    castList = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 4:
            castList.append(i['name'])
        counter+= 1
    return castList

In [16]:
movies['cast'] = movies['cast'].apply(convertCast)

In [17]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:4])

In [18]:
def convertCrew(text):
    crewList = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            crewList.append(i['name'])
    return crewList

In [19]:
movies['crew'] = movies['crew'].apply(convertCrew)

In [20]:
def collapse(value):
    initalArr = []
    for i in value:
        initalArr.append(i.replace(" ",""))
    return initalArr

In [21]:
movies['genres'] = movies['genres'].apply(collapse)
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [22]:
movies.head(1)

,movie_id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

In [23]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [25]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [26]:
new_df = movies[['movie_id','title','tags']]

In [27]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\AMIT\AppData\Local\Temp\ipykernel_17164\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [28]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [30]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [31]:
vector.shape

(4806, 5000)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [33]:
similarity

array([[1.        , 0.08838835, 0.05892557, ..., 0.02512595, 0.02777778,
        0.        ],
       [0.08838835, 1.        , 0.0625    , ..., 0.02665009, 0.        ,
        0.        ],
       [0.05892557, 0.0625    , 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02512595, 0.02665009, 0.02665009, ..., 1.        , 0.07537784,
        0.04828045],
       [0.02777778, 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05337605],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05337605,
        1.        ]])

In [34]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

744

In [35]:
def recommendedMovie(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distance[1:10]:
        print(new_df.iloc[i[0]].title)

In [36]:
recommendedMovie('The Dark Knight Rises')

The Dark Knight
Batman Begins
Batman
Batman Returns
Batman
Batman Forever
Batman & Robin
Nighthawks
Batman v Superman: Dawn of Justice