In [216]:
import numpy as np
import pandas as pd
import re

In [217]:
anime = pd.read_csv('./dataset/anime.csv')
rating = pd.read_csv('./dataset/rating.csv')

In [218]:
anime_df = anime.merge(rating, on='anime_id',suffixes= ['', '_user'])

In [219]:
anime_df["rating_user"].replace({-1: np.nan}, inplace=True)
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members,user_id,rating_user
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5.0
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10.0
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10.0
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10.0
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,NaN

In [220]:
anime_df.dropna(axis=0, how='any', inplace=True)
anime_df.isnull().sum()

anime_id       0
name           0
genre          0
type           0
episodes       0
rating         0
members        0
user_id        0
rating_user    0
dtype: int64

In [221]:
anime_df.shape

(6337146, 9)

In [222]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members,user_id,rating_user
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5.0
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10.0
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10.0
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10.0
5,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,322,10.0

In [223]:
anime_df['name'].value_counts()

Death Note                                                      34226
Sword Art Online                                                26310
Shingeki no Kyojin                                              25290
Code Geass: Hangyaku no Lelouch                                 24126
Angel Beats!                                                    23565
                                                                ...
Interior                                                            1
Running Boy: Star Soldier no Himitsu                                1
Violence Gekiga David no Hoshi                                      1
Peeping Life: Tezuka Pro - Tatsunoko Pro Wonderland Specials        1
Kujakuou: Sengoku Tensei                                            1
Name: name, Length: 9892, dtype: int64

In [224]:
def name_cleaning(text):
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'.hack//', '', text)
    text = re.sub(r'&#039;', '', text)
    text = re.sub(r'A&#039;s', '', text)
    text = re.sub(r'I&#039;', 'I\'', text)
    text = re.sub(r'&amp;', 'and', text)
    
    return text

In [225]:
anime_df['name'] = anime_df['name'].apply(name_cleaning)

In [226]:
anime_df['genre'].value_counts()

Comedy, School, Slice of Life                    49850
Hentai                                           42979
Comedy, Slice of Life                            42932
Action, Adventure, Fantasy, Game, Romance        42260
Comedy, Romance, School, Slice of Life           41648
                                                 ...
Adventure, Drama, Historical, Music                  1
Comedy, Police, Shounen, Slice of Life               1
Adventure, Comedy, Kids, Music, Sci-Fi, Space        1
Horror, Shounen                                      1
Action, Cars, Shounen, Sports                        1
Name: genre, Length: 3048, dtype: int64

In [227]:
def genreFilters(text):
        text = re.sub(r",","", text)
        return text

In [228]:
anime_df['genre'] = anime_df['genre'].apply(genreFilters)

In [229]:
anime_df['tags'] = anime_df['genre'] + ' ' + anime_df['type']

In [230]:
anime_df.head(1)

,anime_id,name,genre,type,episodes,rating,members,user_id,rating_user,tags
0,32281,Kimi no Na wa.,Drama Romance School Supernatural,Movie,1,9.37,200630,99,5.0,Drama Romance School Supernatural Movie

In [231]:
anime_df.drop_duplicates(inplace=True)

In [232]:
anime_df.duplicated().sum()

0

In [233]:
new_anime_df = anime_df[['anime_id','name','tags']]

In [234]:
new_anime_df.iloc[0:20]

    anime_id            name                                     tags
0      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
1      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
2      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
3      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
5      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
6      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
7      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
8      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
9      32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
10     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
11     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
12     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
14     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
15     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
16     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
17     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
19     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
20     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
21     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie
22     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie

In [235]:
new_anime_df = new_anime_df.drop_duplicates(subset=['anime_id', 'name'], keep='first')
new_anime_df['tags'].iloc[0:20]

0                   Drama Romance School Supernatural Movie
2199      Action Adventure Drama Fantasy Magic Military ...
26774     Action Comedy Historical Parody Samurai Sci-Fi...
28159                                    Sci-Fi Thriller TV
47442     Action Comedy Historical Parody Samurai Sci-Fi...
51115                 Comedy Drama School Shounen Sports TV
52348               Action Adventure Shounen Super Power TV
60923                       Drama Military Sci-Fi Space OVA
61826     Action Comedy Historical Parody Samurai Sci-Fi...
64351     Action Comedy Historical Parody Samurai Sci-Fi...
66888     Drama Fantasy Romance Slice of Life Supernatur...
84742                            Drama School Shounen Movie
84786     Action Comedy Historical Parody Samurai Sci-Fi...
89760     Action Drama Mecha Military Sci-Fi Super Power TV
114002                Comedy Drama School Shounen Sports TV
117977                   Adventure Drama Supernatural Movie
140951                Drama Music Romance School Shounen TV
150399    Adventure Fantasy Historical Mystery Seinen Sl...
152111                          Fantasy Slice of Life Movie
159820    Action Mecha Military School Sci-Fi Super Powe...
Name: tags, dtype: object

In [236]:
new_anime_df.head(1)

   anime_id            name                                     tags
0     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie

In [237]:
new_anime_df.shape

(9892, 3)

In [238]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1000, stop_words = 'english')

In [239]:
vector = cv.fit_transform(new_anime_df['tags']).toarray()

In [240]:
vector.shape

(9892, 51)

In [241]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [242]:
similarity

array([[1.        , 0.15811388, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.15811388, 1.        , 0.35355339, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.35355339, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ]])

In [243]:
similarity.shape

(9892, 9892)

In [244]:
new_anime_df = new_anime_df.reset_index()
new_anime_df = new_anime_df.drop(['index'], axis=1)
new_anime_df.rename(columns = {'name':'animename'}, inplace = True)

In [245]:
new_anime_df.head(1)

   anime_id       animename                                     tags
0     32281  Kimi no Na wa.  Drama Romance School Supernatural Movie

In [246]:
new_anime_df[new_anime_df['animename'] == 'Dragon Quest Retsuden: Roto no Monshou'].index[0]

5909

In [247]:
def recommend(anime):
    index = new_anime_df[new_anime_df['animename'] == anime].index[0]
    distances = similarity[index]
    anime_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])
    for i in anime_list[1:11]:
        print(new_anime_df.iloc[i[0]].animename)

In [248]:
recommend('Pokemon Diamond and Pearl Specials')

Pokemon: Pikachu no Natsumatsuri
MapleStory Special
Pokemon: The Origin
Pokemon XY: Mega Evolution
Pokemon XYandZ Specials
Pokemon Crystal: Raikou Ikazuchi no Densetsu
Pokemon Best Wishes! Season 2: Decolora Adventure - Dent to Takeshi! Gyarados no Gekirin!!
Pokemon Best Wishes! Season 2: Decolora Adventure - Iris vs. Ibuki! Dragon Master e no Michi!!
Pokemon XY SP: Road to Kalos
Pokemon XY: New Years Eve 2014 Super Mega Special